{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messagerie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ messagerie.id }}</td>
            </tr>
            <tr>
                <th>Typemessage</th>
                <td>{{ messagerie.typemessage }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ messagerie.idUser }}</td>
            </tr>
            <tr>
                <th>Idclient</th>
                <td>{{ messagerie.idClient }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{% if messagerie.etat %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('messagerie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('messagerie_edit', { 'id': messagerie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
