

{% block body %}


    <!-- JS -->
    <!script src="/js/jquery-2.1.4.min.js"><!/script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"  media="screen" />




        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="review-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
                        <h3>Add a Review</h3>
                        <button  data-title="Edit" data-toggle="modal" data-target="#edit " class="read-more">ajouter</button>


                    </div>
                </div>
                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Ajouter un commentaire</h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <input class="form-control " type="text" placeholder="contenu" id="contenu" name="contenu">
                                    {#{{form_widget(edit_form.prenom ,{ 'attr': {'class': "form-control",'placeholder': "Prenom"}})}}#}
                                </div>


                                {#<div class="form-group">#}

                                {#{{form_widget(form.adresse ,{ 'attr': {'class': "form-control",'placeholder': "adresse"}})}}#}
                                {#</div>#}
                            </div>
                            <div class="modal-footer ">
                                <input value="AJOUTER" type="submit" onclick="saveData()" class="btn btn-warning btn-lg glyphicon glyphicon-ok-sign" style="width: 100%" >  
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </div>
        </div>


        <div class="services-page clearfix">
            <div class="container" id="result">

                    <ul class="comments-list">
        {% for commentaire in commentaires %}

            <li>
                <!-- REVIEW -->
                <article class="comment">
                    <div class="comment-author">
                        <img src="{{ asset("img/50x50.png") }}" alt="Image Alternative text" title="Gamer Chick" />
                    </div>
                    <div class="comment-inner">
                        <ul class="icon-group icon-list-rating comment-review-rate" title="5/5 rating">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul><span class="comment-author-name">{{ commentaire.idUser.nom }} {{ commentaire.idUser.prenom }}</span>
                        <p class="comment-content">{{ commentaire.contenu }}</p>
                        {% if app.user == null %}

                        {% elseif app.user.id != commentaire.idUser.id %}

                        {% elseif app.user.id == commentaire.idUser.id %}
                        <li><a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}" class="btn btn-primary">

                                <i class="fa fa-pencil-square-o"></i> Modifier</a>

                        <a  href="{{ path('commentaire_delete', { 'id': commentaire.id }) }}" class="btn">

                                <i class="fa fa-trash-o"></i> Supprimer</a>
                        </li>
                        {% endif %}

                </article>
            </li>



        {% endfor %}
                    </ul>
                <button class="popup-text btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit " data-effect="mfp-zoom-out"><i class="fa fa-pencil"></i> Ajouter commentaire</button>

            </div>
        </div>





    <div class="modal hide fade" id="confirmModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirmation de la suppression</h3>
        </div>
        <div class="modal-body">
            <p>Etes-vous sûr de vouloir supprimer ce commentaire ?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" id="confirmModalNo">Non</a>
            <a href="#" class="btn btn-primary" id="confirmModalYes">Oui</a>
        </div>
    </div>







    <script language="javascript">




        $(document).ready(function () {
            var theHREF;

            $(".btn").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");
                $("#confirmModal").modal("show");
            });

            $("#confirmModalNo").click(function(e) {
                $("#confirmModal").modal("hide");
            });

            $("#confirmModalYes").click(function(e) {
                window.location.href = theHREF;
            });
        });



    </script>










    <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
    <script>
        function saveData() {


            var contenu= $('#contenu').val();

            $.ajax({
                type: "POST",
                url: "{{ path('commentaire_new', { 'idPub': publicite.idPub }) }}",
                data: {'contenu': contenu},
                success: function (data ) {
                    console.log(data);
                    $("#result").html(data);

                }

            });

        }

    </script>



{% endblock %}
