{% extends 'base.html.twig' %}

{% block body %}
    <h1>Signaisation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signaisation.id }}</td>
            </tr>
            <tr>
                <th>Raison</th>
                <td>{{ signaisation.raison }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('signaisation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('signaisation_edit', { 'id': signaisation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
