{% extends 'baseuser.html.twig' %}

{% block body %}

    <div class="gap gap-small"></div>


    <div class="inner-bg">
        <div class="container" style="position: relative;margin-left: 400px;">
            <div class="col-sm-5">

                <div class="form-box">
        <h1>Modification de la publicité</h1>
                    <div class="col-md-9">
                        <div class="row">
                    <div class="col-md-6">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Valider Modification" />
    {{ form_end(edit_form) }}
                    </div></div></div>
    <ul class="list-inline">
        <li><a href="{{ path('publicite_index') }}" class="btn btn-primary">
                <i class="fa fa-toggle-left (alias)"></i> Retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div class="btn"> <i class="fa fa-trash-o"></i> <input type="submit" value="Delete"></div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
                </div></div></div></div>
    <div class="gap gap-small"></div>
{% endblock %}
