{% extends 'baseuser.html.twig' %}

{% block body %}
 <!--   <h1>Publicites list</h1>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Image</th>
                <th>Text</th>
                <th>Siteweb</th>
                <th>Description</th>
                <th>Idu</th>
                <th>Nbclick</th>
                <th>Etat</th>
                <th>Tags</th>
                <th>Idpub</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicite in publicites %}
            <tr>
                <td><a href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}">{{ publicite.image }}</a></td>
                <td>{{ publicite.text }}</td>
                <td>{{ publicite.siteWeb }}</td>
                <td>{{ publicite.description }}</td>
                <td>{{ publicite.idU }}</td>
                <td>{{ publicite.nbClick }}</td>
                <td>{{ publicite.etat }}</td>
                <td>{{ publicite.tags }}</td>
                <td>{{ publicite.idPub }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('publicite_edit', { 'idPub': publicite.idPub }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publicite_new') }}">Create a new publicite</a>
        </li>
    </ul> -->


    <div class="gap" style=" margin-left: 120px;">
        <a href="{{ path('publicite_new') }}" class="btn btn-success"><div class="fa  fa-plus-square"></div>    Ajouter une publicité</a>
    </div>

    <div class="container">
        <div class="row">


        <div class="col-md-3">
                <aside class="sidebar-left">
                    <ul class="nav nav-pills nav-stacked nav-arrow">
                        <li ><a href="{{ path('profil') }}">Settings</a>
                        </li>
                        <li><a href="page-my-account-addresses.html">Mes plans</a>
                        </li>
                        <li><a href="page-my-account-orders.html">Mes evenements</a>
                        </li>
                        <li><a href="page-my-account-wishlist.html">Mes hebergements</a>
                        </li>
                        <li class="active"><a href="{{ path('publicite_index') }}">Mes publicites</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <div class="row row-wrap">

                    {% for publicite in publicites %}
                        <div class="col-md-4">
                            <div class="product-thumb">
                                <header class="product-header">
                                    <a href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}">
                                    <img src="{{ asset('img/our_coffee_miss_u_800x600.jpg') }}" alt="Image Alternative text" title="" />
                                    </a>
                                </header>
                                <div class="product-inner">
                                    <ul class="icon-group icon-list-rating" title="4/5 rating">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-o"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-title">{{ publicite.text }}</h5>
                                    <p class="product-desciption">{{ publicite.description }}</p>
                                    <div class="product-meta">
                                        <ul class="product-price-list">
                                            <li><span class="product-price">{{ publicite.nbClick }} clicks</span>
                                            </li>
                                        </ul>
                                        <ul class="product-actions-list">
                                            <li><a class="btn btn-sm" href="{{ path('publicite_edit', { 'idPub': publicite.idPub }) }}">
                                                    <i class="fa fa-pencil-square-o"></i> Modifier</a>
                                            </li>
                                            <li><a class="btn btn-sm" href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}">
                                                    <i class="fa fa-bars"></i> Afficher</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wishlist-remove">

                         <!--       <a class="btn btn-ghost btn-sm" href=""><i class="fa fa-times"></i> Supprimer</a> -->
                            </div>
                        </div>
                    {% endfor %}

                </div>


            </div>
        </div>

    </div>
    <div class="gap gap-small"></div>


{% endblock %}
