{% extends 'baseuser.html.twig' %}

{% block body %}


    <!-- //////////////////////////////////
  //////////////PAGE CONTENT/////////////
  ////////////////////////////////////-->
    <head> <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>


    </head>
    <div class="gap"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="row">
                    <div class="col-md-7">
                        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="1" data-thumbheight="150" data-thumbwidth="150">
                            <img src="{{ asset(publicite.image) }}" alt="Image Alternative text" title="" />

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="product-info box">

                            <h3>{{ publicite.text }}</h3>
                            {{ form_start(form) }}
                            <div class="controls">
                                <h5>Donnez une note</h5>
                                {{ form_widget(form.rating) }}   </{% for commentaire in commentaires %}

                            {% if app.request.attributes.get('idPub') == commentaire.idPub %}

                                <li>
                                <!-- REVIEW -->
                                <article class="comment">
                                <div class="comment-author">
                                    <img src="{{ asset("img/50x50.png") }}" alt="Image Alternative text" title="Gamer Chick" />
                                </div>
                                <div class="comment-inner">
                                <ul class="icon-group icon-list-rating comment-review-rate" title="5/5 rating">
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                    <li><i class="fa fa-star"></i>
                                    </li>
                                </ul><span class="comment-author-name">{{ commentaire.idUser.nom }} {{ commentaire.idUser.prenom }}</span>
                                <p class="comment-content">{{ commentaire.contenu }}</p>
                                {% if app.user == null %}

                                {% elseif app.user.id != commentaire.idUser.id %}

                                {% elseif app.user.id == commentaire.idUser.id %}
                                    <li><a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}" class="btn btn-primary">

                                            <i class="fa fa-pencil-square-o"></i> Modifier</a>

                                        <a  href="{{ path('commentaire_delete', { 'id': commentaire.id }) }}" class="confirmModalLink">

                                            <i class="fa fa-trash-o"></i> Supprimer</a>
                                    </li>
                                {% endif %}

                                </article>
                                </li>

                            {% endif %}

                            {% endfor %}div>
                            {{ form_end(form) }}
                            <p class="product-info-price">{{ publicite.nbClick }} clicks</p>
                            <p class="text-smaller text-muted"><a href="http://{{ publicite.siteWeb }}" >{{ publicite.siteWeb }}</a></p>
                            <ul class="icon-list list-space product-info-list">

                                {% if app.user == null %}
                                {% elseif app.user.id != publicite.user.id %}
                                {% elseif app.user.id == publicite.user.id %}
                                <li><i class="fa fa-check"></i>Etat du publicite:
                                    {% if publicite.etat == 1 %}
                                <li><div class="alert alert-success">Confirmé</div></li>
                                {% elseif publicite.etat == -1 %}
                                    <li><div class="alert alert-danger">Refusé</div></li>
                                {% elseif publicite.etat == 0 %}
                                    <li><div class="alert alert-warning">En attente</div></li>
                                {% endif %}

                                </li>

                            </ul>

                            <div class="gap-small"></div>

                            <ul class="list-inline">
                                <li><a href="{{ path('publicite_edit', { 'idPub': publicite.idPub }) }}" class="btn">

                                        <i class="fa fa-pencil-square-o"></i> Modifier</a>
                                </li>


                                <li>
                                    <a href="{{ path('publicite_delete', { 'idPub': publicite.idPub }) }}" class="btn">

                                        <i class="fa fa-trash-o"></i> Supprimer</a>

                                </li>



                                <li><a href="{{ path('publicite_index') }}" class="btn btn-primary">
                                        <i class="fa fa-toggle-left (alias)"></i> Retour</a>
                                </li>
                            </ul>
                            {% endif %}
                            {{ twitterButton() }}
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-info"></i>Desciption</a>
                        </li>
                        <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-tags"></i>Les mots clés</a>
                        </li>
                        <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-tags"></i>Les commentaires</a>
                        </li>


                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-1">
                         <p>{{ publicite.description | raw }}</p>

                        </div>
                        <div class="tab-pane fade" id="tab-2">
                           <p>{{ publicite.tags }}</p>

                            {{ twitterButton() }}
                        </div>
                        <div class="tab-pane fade" id="tab-3">

                           <p>{% include '@Review/commentaire/index.html.twig' %}</p>

                        </div>

                    </div>
                </div>
                <div class="gap"></div>

                <div class="gap gap-small"></div>
            </div>
        </div></div>

    </div>


    <!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->
{% endblock %}
