{% extends ('baseuser.html.twig') %}

{% block body %}
    <head> <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>


    </head>
    <div class="global-wrap">
        <div class="gap"></div>

        <!-- //////////////////////////////////
	//////////////PAGE CONTENT/////////////
	////////////////////////////////////-->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category">
                            <li class="active"><a href="{{ path('plan_FilterBE') }}"><i class="fa fa-ticket"></i>All</a>
                            </li>
                            <li><a href="{{ path('Salon_Coiff_Filter') }}"><i class="fa fa-female"></i>Sallons de Coiffures</a>
                            </li>
                            <li><a href="{{ path('Salle_sport_Filter') }}"><i class="fa fa-futbol-o
"></i>Salles de Sport </a>
                            </li>
                            <li><a href="{{ path('Spa_Filter') }}"><i class="fa fa-female"></i>Spas et centres Esthetiques</a>
                            </li>
                            <li><a href="{{ path('Make_Up_Filter') }}"><i class="fa fa-female"></i>Make-up Artiste</a>
                            </li>
                            <li><a href="{{ path('Tatoo_Filter') }}#"><i class="fa fa-certificate
"></i>Piercing et Tatoos</a>
                            </li>


                        </ul>


                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-sort">
                                <span class="product-sort-selected">sort by <b>Price</b></span>
                                <a href="#" class="product-sort-order fa fa-angle-down"></a>
                                <ul>
                                    <li><a href="#">sort by Name</a>
                                    </li>
                                    <li><a href="#">sort by Date</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-7">
                            <div class="product-view pull-right">
                                <a class="fa fa-th-large active" href="#"></a>
                                <a class="fa fa-list" href="{{ path('plan_FilterBEHorizontale') }}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row row-wrap">

                        {% for plan in plans %}
                            <div class="col-md-4">
                                <div class="product-thumb">
                                    <header class="product-header">
                                        <img src="{{ asset('uploads/ImagesPlans/' ~ plan.image) }}"style="width: 262.5px;height:233px " >
                                    </header>
                                    <div class="product-inner">
                                        {% for rate in rating %}
                                            {% if plan.idP == rate.plan %}
                                                {{ rate.1|rating(5, "fa-1x")  }}
                                            {% endif %}
                                        {% endfor %}
                                        <h5 class="product-title">{{ plan.libelle }}</h5>
                                        <p class="product-desciption" style="height: 80px">{{ plan.description }}</p>
                                        <div class="product-meta">
                                            <ul class="product-price-list">
                                                <li><span class="product-old-price"></span>
                                                </li>
                                                <li><span class="product-price">{{ plan.prix }} Dt</span>
                                                </li>
                                                <li><span class="product-save"></span>
                                                </li>
                                            </ul>
                                            <ul class="product-actions-list">
                                                <li><a class="btn btn-sm" href="{{ path('plan_MAP2',{ 'id': plan.idP  })}}">
                                                        <i class="fa fa-shopping-cart"></i> To
                                                        maps
                                                    </a>
                                                </li>
                                                <li><a class="btn btn-sm"  href="{{ path('Details_plans',{ 'idP': plan.idP  })}}"><i class="fa fa-bars" ></i> Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                  {#  <div class="navigation text-center">
                        {{ knp_pagination_render(result) }}

                    </div>#}
                    <div class="gap"></div>
                </div>
            </div>

        </div>


        <!-- //////////////////////////////////
	//////////////END PAGE CONTENT/////////
	////////////////////////////////////-->


        <!-- Scripts queries -->
        <div class="fit-vids-style" id="fit-vids-style" style="display: none;">­
            <style>
                .fluid-width-video-wrapper {
                    width: 100%;
                    position: relative;
                    padding: 0;
                }

                .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            </style>
        </div>

        <script src="{{ asset('js/nicescroll.js') }}"></script>

        <!-- Custom scripts -->
        <script src="{{ asset('js/custom.js') }}"></script>
    </div>


    <div id="ascrail2000" class="nicescroll-rails"
         style="width: 5px; z-index: 9999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0;">
        <div style="position: relative; top: 0px; float: right; width: 5px; height: 119px; background-color: rgb(0, 0, 0); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/boostrap.min.js') }}"></script>
        <script src="{{ asset('js/countdown.min.js') }}"></script>
        <script src="{{ asset('js/flexnav.min.js') }}"></script>
        <script src="{{ asset('js/magnific.js') }}"></script>
        <script src="{{ asset('js/tweet.min.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{{ asset('js/fitvids.min.js') }}"></script>
        <script src="{{ asset('js/mail.min.js') }}"></script>
        <script src="{{ asset('js/ionrangeslider.js') }}"></script>
        <script src="{{ asset('js/icheck.js') }}"></script>
        <script src="{{ asset('js/fotorama.js') }}"></script>
        <script src="{{ asset('js/card-payment.js') }}"></script>
        <script src="{{ asset('js/owl-carousel.js') }}"></script>
        <script src="{{ asset('js/masonry.js') }}"></script>
        <script src="{{ asset('js/nicescroll.js') }}"></script>

        <!-- Custom scrip}ts -->
        <script src="{{ asset('js/custom.js') }}"></script>
    {% endblock %}

{% endblock %}

