{% extends ('baseuser.html.twig') %}

{% block body %}
    <head> <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>


    </head>
    <div class="global-wrap">
        <div class="gap"></div>

        <!-- //////////////////////////////////
	//////////////PAGE CONTENT/////////////
	////////////////////////////////////-->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category">
                            <li class="active"><a href="#"><i class="fa fa-ticket"></i>All</a>
                            </li>
                            <li><a href="#"><i class="fa fa-cutlery"></i>Centres Commerciaux</a>
                            </li>
                            <li><a href="#"><i class="fa fa-calendar"></i>Parc D'attraction </a>
                            </li>
                            <li><a href="#"><i class="fa fa-female"></i>Musées</a>
                            </li>
                            <li><a href="#"><i class="fa fa-bolt"></i>Clubs d'Equitation</a>
                            </li>
                            <li><a href="#"><i class="fa fa-headphones"></i>Golf</a>
                            </li>


                        </ul>
                        <div class="sidebar-box">
                            <h5>Filter By Price</h5>
                            <span class="irs" id="irs-1">
                                <span class="irs">
                                    <span class="irs-line">
                                        <span
                                                class="irs-line-left">

                                        </span><span class="irs-line-mid">

                                        </span>
                                        <span
                                                class="irs-line-right">

                                        </span>
                                    </span><span class="irs-min"
                                                 style="display: none;">$130</span><span
                                            class="irs-max" style="display: none;">$575</span>
                                    <span class="irs-from"
                                          style="left: 0px; display: block;">$130</span><span
                                            class="irs-to" style="left: 111px; display: block;">$575</span><span
                                            class="irs-single"
                                            style="left: 31px; display: none;">$130 — $575</span><span
                                            class="irs-diapason" style="left: 9px; width: 123px;"></span><span
                                            class="irs-slider from last" style="left: 0px;"></span><span
                                            class="irs-slider to" style="left: 123px;"></span></span><span
                                        class="irs-grid"></span></span><input type="text" id="price-slider"
                                                                              style="display: none;" value="130;575">
                        </div>
                        <div class="sidebar-box">
                            <h5>Product Feature</h5>
                            <ul class="checkbox-list">
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check"
                                                                    style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        On Sale</label>
                                </li>
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check"
                                                                    style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        New</label>
                                </li>
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check"
                                                                    style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        Ending Soon</label>
                                </li>
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check"
                                                                    style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        High Rating</label>
                                </li>
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check"
                                                                    style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        Free Shipping</label>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-box">
                            <h5>Recent Viewed</h5>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text"
                                             title="Urbex Esch/Lux with Laney and Laaaaag">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Best Camera</a></h5>
                                        <p class="thumb-list-item-price">$227</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="AMaze">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">New Glass Collection</a></h5>
                                        <p class="thumb-list-item-price">$278</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="waipio valley">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Awesome Vacation</a></h5>
                                        <p class="thumb-list-item-price">$475</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-box">
                            <h5>Popular</h5>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Food is Pride">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Best Pasta</a></h5>
                                        <p class="thumb-list-item-price">$203</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Old No7">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Jack Daniels Huge Pack</a></h5>
                                        <p class="thumb-list-item-price">$499</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text"
                                             title="The Hidden Power of the Heart">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Beach Holidays</a></h5>
                                        <p class="thumb-list-item-price">$460</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-sort">
                                <span class="product-sort-selected">sort by <b>Price</b></span>
                                <a href="#" class="product-sort-order fa fa-angle-down"></a>
                                <ul>
                                    <li><a href="#">sort by Name</a>
                                    </li>
                                    <li><a href="#">sort by Date</a>
                                    </li>
                                    <li><a href="#">sort by Popularity</a>
                                    </li>
                                    <li><a href="#">sort by Rating</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-7">
                            <div class="product-view pull-right">
                                <a class="fa fa-th-large active" href="#"></a>
                                <a class="fa fa-list" href="{{ path('plan_FilterDIVHorizontale') }}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row row-wrap">

                        {% for plan in plans %}
                            <div class="col-md-4">
                                <div class="product-thumb">
                                    <header class="product-header">
                                        <img src="{{ asset('uploads/ImagesPlans/' ~ plan.image) }}" >
                                    </header>
                                    <div class="product-inner">
                                        {% for rate in rating %}
                                            {% if plan.idP == rate.plan %}
                                                {{ rate.1|rating(5, "fa-1x")  }}
                                            {% endif %}
                                        {% endfor %}
                                        <h5 class="product-title">{{ plan.libelle }}</h5>
                                        <p class="product-desciption">{{ plan.description }}</p>
                                        <div class="product-meta">
                                            <ul class="product-price-list">
                                                <li><span class="product-old-price"></span>
                                                </li>
                                                <li><span class="product-price">{{ plan.prix }} Dt</span>
                                                </li>
                                                <li><span class="product-save"></span>
                                                </li>
                                            </ul>
                                            <ul class="product-actions-list">
                                                <li><a class="btn btn-sm" href="{{ path('plan_MAP2',{ 'id': plan.idP  })}}">
                                                        <i class="fa fa-shopping-cart"></i> To
                                                        maps
                                                    </a>
                                                </li>
                                                <li><a class="btn btn-sm"  href="{{ path('Details_plans',{ 'idP': plan.idP  })}}"><i class="fa fa-bars" ></i> Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <ul class="pagination">
                        <li class="prev disabled">
                            <a href="#"></a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li class="next">
                            <a href="#"></a>
                        </li>
                    </ul>
                    <div class="gap"></div>
                </div>
            </div>

        </div>


        <!-- //////////////////////////////////
	//////////////END PAGE CONTENT/////////
	////////////////////////////////////-->


        <!-- Scripts queries -->
        <div class="fit-vids-style" id="fit-vids-style" style="display: none;">­
            <style>
                .fluid-width-video-wrapper {
                    width: 100%;
                    position: relative;
                    padding: 0;
                }

                .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            </style>
        </div>

        <script src="{{ asset('js/nicescroll.js') }}"></script>

        <!-- Custom scripts -->
        <script src="{{ asset('js/custom.js') }}"></script>
    </div>


    <div id="ascrail2000" class="nicescroll-rails"
         style="width: 5px; z-index: 9999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0;">
        <div style="position: relative; top: 0px; float: right; width: 5px; height: 119px; background-color: rgb(0, 0, 0); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/boostrap.min.js') }}"></script>
        <script src="{{ asset('js/countdown.min.js') }}"></script>
        <script src="{{ asset('js/flexnav.min.js') }}"></script>
        <script src="{{ asset('js/magnific.js') }}"></script>
        <script src="{{ asset('js/tweet.min.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{{ asset('js/fitvids.min.js') }}"></script>
        <script src="{{ asset('js/mail.min.js') }}"></script>
        <script src="{{ asset('js/ionrangeslider.js') }}"></script>
        <script src="{{ asset('js/icheck.js') }}"></script>
        <script src="{{ asset('js/fotorama.js') }}"></script>
        <script src="{{ asset('js/card-payment.js') }}"></script>
        <script src="{{ asset('js/owl-carousel.js') }}"></script>
        <script src="{{ asset('js/masonry.js') }}"></script>
        <script src="{{ asset('js/nicescroll.js') }}"></script>

        <!-- Custom scrip}ts -->
        <script src="{{ asset('js/custom.js') }}"></script>
    {% endblock %}

{% endblock %}