{% extends ('baseuser.html.twig') %}


{%  block body %}

    <!-- TOP AREA -->
    <div class="top-area">
        <div class="owl-carousel owl-slider" id="owl-carousel-slider" data-inner-pagination="true" data-white-pagination="true">
            <div>
                <div class="bg-holder">
                    <img src="{{ asset('img/bridge_1200x480.jpg') }}" alt="Image Alternative text" title="Bridge" />
                    <div class="vert-center text-white text-center slider-caption">
                        <h2 class="text-uc">Tunisian Planners</h2>
                        <p>Ajouter vos bons plans</p>

                    </div>
                </div>
            </div>
            <div>
                <div class="bg-holder">
                    <img src="{{ asset('img/4_strokes_of_fun_1200x480.jpg') }}" alt="Image Alternative text" title="4 Strokes of Fun" />
                    <div class="vert-center text-white text-center slider-caption">
                        <h2 class="text-uc">Tunisian Planners</h2>
                        <p>Consulter plusieurs evenements</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="bg-holder">
                    <img src="{{ asset('img/lhotel_porto_bay_sao_paulo_luxury_suite_1200x480.jpg') }}" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO luxury suite" />
                    <div class="vert-center text-white text-center slider-caption">
                        <h2 class="text-uc">Tunisian Planners</h2>
                        <p>Decouvrir les meilleurs offres d'hebergements</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END TOP AREA -->
<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->


    <div class="gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="text-center">
                <h1>Explore Best Deals in Your City</h1>
                <p class="text-bigger">Platea luctus aliquet per torquent nam varius hendrerit non odio risus aenean mus amet ad quisque velit nullam nunc curae metus proin blandit felis maecenas donec habitant semper morbi imperdiet</p>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>
<div class="bg-holder">
    <div class="bg-mask"></div>
    <div class="bg-blur" style="background-image:url({{ asset('img/backgrounds/phone.jpg') }})"></div>
    <div class="container bg-holder-content">
        <div class="gap gap-big text-center">
            <h1 class="mb30 text-white">Plans en vedette</h1>
            <div class="row row-wrap">

                {% for publicite in publicites %}

                <a class="col-md-3" href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}">
                    <div class="product-thumb">
                        <header class="product-header">

                            <img src="{{ asset(publicite.image) }}" alt="Image Alternative text" title="Our Coffee miss u" />
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">{{ publicite.text }}</h5>
                            <p class="product-desciption">{{ publicite.siteWeb }}</p>
                            <div class="product-meta"><span class="product-time"> {{ publicite.description | raw     }}</span>

                            </div>

                        </div>
                    </div>
                </a>

            {% endfor %}
            </div>	<a href="#" class="btn btn-white btn-lg btn-ghost">Find More</a>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="container">
    <div class="text-center">
        <h2 class="mb30">New Deals in Your City</h2>
        <div class="row row-wrap" id="masonry">


            <a class="col-md-2 col-masonry" href="#">
                <div class="product-thumb">
                    <header class="product-header">
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title"></h5>
                        <div class="product-desciption"></div>
                        <div class="product-meta"><span class="product-time"><i class="fa fa-clock-o"></i> 3 days 22 h</span>
                            <ul class="product-price-list">
                                <li><span class="product-price">$151</span>
                                </li>
                                <li><span class="product-old-price">$260</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                    </div>
                </div>
            </a>

        </div>	<a href="#" class="btn btn-primary btn-ghost">Explore All New Deals</a>
    </div>
    <div class="gap"></div>
</div>


<!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->





{% endblock %}

