{% extends ('baseuser.html.twig') %}


{%  block body %}

    <!-- TOP AREA -->
    <div class="top-area">
        <div class="owl-carousel owl-slider" id="owl-carousel-slider" data-inner-pagination="true" data-white-pagination="true">
            <div>
                <div class="bg-holder">
                    <img src="{{ asset('img/bridge_1200x480.jpg') }}" alt="Image Alternative text" title="Bridge" />
                    <div class="vert-center text-white text-center slider-caption">
                        <h2 class="text-uc">Tunisian Planners</h2>
                        <p>Ajouter vos bons plans</p>

                    </div>
                </div>
            </div>
            <div>
                <div class="bg-holder">
                    <img src="{{ asset('img/4_strokes_of_fun_1200x480.jpg') }}" alt="Image Alternative text" title="4 Strokes of Fun" />
                    <div class="vert-center text-white text-center slider-caption">
                        <h2 class="text-uc">Tunisian Planners</h2>
                        <p>Consulter plusieurs evenements</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="bg-holder">
                    <img src="{{ asset('img/lhotel_porto_bay_sao_paulo_luxury_suite_1200x480.jpg') }}" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO luxury suite" />
                    <div class="vert-center text-white text-center slider-caption">
                        <h2 class="text-uc">Tunisian Planners</h2>
                        <p>Decouvrir les meilleurs offres d'hebergements</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END TOP AREA -->
<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->


    <div class="gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="text-center">
                <h1>Planners</h1>
                <p class="text-bigger">Le site de référence pour profiter des meilleurs bons plans du net, d'échantillons gratuits, produits remboursés et deals en tous en genre.</p>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>
<div class="bg-holder">
    <div class="bg-mask"></div>
    <div class="bg-blur" style="background-image:url({{ asset('img/backgrounds/phone.jpg') }})"></div>
    <div class="container bg-holder-content">
        <div class="gap gap-big text-center">
            <h1 class="mb30 text-white">Plans en vedette</h1>
            <div class="row row-wrap">

                {% for publicite in publicites %}

                <a class="col-md-3" href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}">
                    <div class="product-thumb">
                        <header class="product-header">

                            <img src="{{ asset(publicite.image) }}" alt="Image Alternative text" title="Our Coffee miss u" />
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">{{ publicite.text }}</h5>
                            <p class="product-desciption">{{ publicite.siteWeb }}</p>
                            <div class="product-meta"><span class="product-time"> {{ publicite.description | raw     }}</span>

                            </div>

                        </div>
                    </div>
                </a>

            {% endfor %}
            </div>	<a href="{{ path('publicite_index') }}" class="btn btn-white btn-lg btn-ghost">Find More</a>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="container">
    <div class="text-center">
        <h2 class="mb30">Les dernières publications</h2>
        <div class="row row-wrap" id="masonry">
            {% for heb in hebergements %}
            <a class="col-md-2 col-masonry" href="{{ path('hebergement_show',{'id':heb.id}) }}">
                <div class="product-thumb">
                    <header class="product-header">
                        <img src="{{ asset('uploads/'~heb.photo) }}" alt="Image Alternative text" title="cascada" />
                    </header>
                    <div class="product-inner">
                        <h5 class="product-title">{{ heb.titre|truncate(10, false, '') }}</h5>
                        <div class="product-desciption">{{ heb.description|truncate(20, false, '') }}</div>
                        <div class="product-meta"><span class="product-time"></span>
                            <ul class="product-price-list">
                                <li><span class="product-price">{{ heb.prix }} TND</span>
                                </li>
                            </ul>
                        </div>
                        <p class="product-location"><i class="fa fa-map-marker"></i>{{ heb.lieu|capitalize }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}

            {% for plan in plans %}
                <a class="col-md-2 col-masonry" href="#">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src="{{ asset('uploads/ImagesPlans/' ~ plan.image) }}" alt="Image Alternative text" title="cascada" />
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">{{ plan.libelle }}</h5>
                            <div class="product-desciption">{{ plan.description }}</div>
                            <div class="product-meta"><span class="product-time"></span>
                                <ul class="product-price-list">
                                    <li><span class="product-price">{{ plan.prix }} TND</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="product-location"><i class="fa fa-map-marker"></i>{{ plan.adresse }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}

            {% for event in events %}
                <a class="col-md-2 col-masonry" href="#">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src="{{ asset('imageEvent/' ~ event.image) }}" alt="Image Alternative text" title="cascada" />
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">{{ event.titre }}</h5>
                            <div class="product-desciption">{{ event.description }}</div>
                            <div class="product-meta"><span class="product-time"></span>
                                <ul class="product-price-list">
                                    <li><span class="product-price">{{ event.prix }} TND</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="product-location"><i class="fa fa-map-marker"></i>{{ event.adresse }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>	<a href="{{ path('plan_FilterGasHorizontale') }}" class="btn btn-primary btn-ghost">Voir plus des plans</a>
    </div>
    <div class="gap"></div>
</div>


<!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->





{% endblock %}

