{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evennements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Date_event</th>
                <th>Time_event</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evennement in evennements %}
            <tr>
                <td><a href="{{ path('evennement_show', { 'id': evennement.id }) }}">{{ evennement.id }}</a></td>
                <td>{{ evennement.titre }}</td>
                <td>{{ evennement.adresse }}</td>
                <td>{{ evennement.ville }}</td>
                <td>{% if evennement.dateevent %}{{ evennement.dateevent|date('Y-m-d') }}{% endif %}</td>
                <td>{% if evennement.timeevent %}{{ evennement.timeevent|date('Y-m-d') }}{% endif %}</td>
                <td>{{ evennement.description }}</td>
                <td>{{ evennement.image }}</td>
                <td>{{ evennement.prix }}</td>
                <td>{{ evennement.contact }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evennement_show', { 'id': evennement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('evennement_edit', { 'id': evennement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evennement_new') }}">Create a new evennement</a>
        </li>
    </ul>
{% endblock %}
