{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'baseadmin.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/evennement/css/css_event.css') }}">

    <h3>Ajouter evennement</h3>
    <div class="row">
        <div class="col-md-12">
            <ul class="list_btn_action pull-right">
                <li>
                    <a href="{{ path('evennement_index') }}" class="btn btn-info"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Liste</a>
                </li>
            </ul>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-4 col-md-4">
            {{ form_row(form.CatEvent) }}
        </div>
        <div class="col-sm-4 col-md-4">
            {{ form_row(form.titre) }}
        </div>
        <div class="col-sm-2 col-md-2">
            {{ form_row(form.date_event ) }}
        </div>
        <div class="col-sm-2 col-md-2">
            {{ form_row(form.time_event) }}
        </div>
        <div class="col-sm-8 col-md-8">
            {{ form_row(form.adresse) }}
        </div>
        <div class="col-sm-4 col-md-4">
            {{ form_row(form.ville) }}
        </div>
        <div class="col-sm-6 col-md-6">
            {{ form_row(form.prix) }}
        </div>
        <div class="col-sm-6 col-md-6">
            {{ form_row(form.contact) }}
        </div>
        <div class="col-sm-8 col-md-8">
            {{ form_row(form.description) }}
        </div>
        <div class="col-sm-4 col-md-4">
            {{ form_row(form.image) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Enregistrer" class="btn btn-success" />
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
