{% extends ('baseuser.html.twig') %}


{% block body %}


    <div class="gap gap"></div>

    <div class="container">
        <div class="row">


            <div class="col-md-3">
                <aside class="sidebar-left">
                    <ul class="nav nav-pills nav-stacked nav-arrow">
                        <li><a href="{{ path('profil') }}">Settings</a>
                        </li>
                        <li ><a href="{{ path('Profil_index') }}">Mes plans</a>
                        </li>
                        <li><a href="page-my-account-orders.html">Mes evenements</a>
                        </li>
                        <li><a href="page-my-account-wishlist.html">Mes hebergements</a>
                        </li>
                        <li><a href="{{ path('publicite_index') }}">Mes publicites</a>
                        </li>
                        <li><a href="{{ path('article_indexPerso') }}">Mes articles</a>
                        </li>
                        <li class="active"><a href="{{ path('favorisindex') }}">Mes favoris</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <div class="row row-wrap">

                    {% for plan in favoris %}
                        {% if plan.idUser.id==app.user.id %}
                            <div class="col-md-4">
                                <div class="product-thumb">
                                    <header class="product-header"><img
                                                src="{{ asset('uploads/ImagesPlans/' ~ plan.idPlan.image) }}">

                                    </header>

                                    <div class="product-inner">
                                        <ul class="icon-group icon-list-rating" title="4/5 rating">

                                        </ul>
                                        <h5 class="product-title">{{ plan.idPlan.libelle }}</h5>
                                        <p class="product-desciption">{{ plan.idPlan.description }}</p>
                                        <div class="product-meta">
                                            <ul class="product-price-list">
                                                <li><span class="product-price">{{ plan.idPlan.prix }}</span>
                                                </li>
                                            </ul>
                                            <ul class="product-actions-list">

                                                <li><a class="btn btn-sm" href="{{ path('Details_plans',{ 'idP': plan.idPlan.idP  })}}">
                                                <i class="fa fa-bars"></i> Details</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-wishlist-remove">

                                    <!--       <a class="btn btn-ghost btn-sm" href=""><i class="fa fa-times"></i> Supprimer</a> -->
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>


            </div>
        </div>

    </div>
    <div class="gap gap-small"></div>


{% endblock %}

