{% extends ('baseuser.html.twig') %}


{%  block body %}



    <!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->


    <div class="container">
        <div class="gap gap-big text-center">
            <h1 class="mb30 text-black" style="font-size: 50px">Espace Personnel</h1>
            <hr>
            <div class="row row-wrap">
                <a class="col-md-4" href="{{ path('mesbonplan') }}">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src="{{ asset('img/bon-plan.jpg') }}" alt="Image Alternative text" height="360px" title="Our Coffee miss u">
                        </header>
                        <div class="product-inner">
                            <h1 class="product-title">Mes Bon Plan</h1>
                            </div>
                    </div>
                </a>
                <a class="col-md-4" href="{{ path('messagerie_index') }}">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src="{{ asset('img/images.png') }}" alt="Image Alternative text" height="360px" title="Our Coffee miss u">
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">Messagerie personnel</h5>
                        </div>
                        </div>
                </a>
                <a class="col-md-4" href="{{ path('hebergement_new') }}">
                    <div class="product-thumb">
                        <header class="product-header">
                            <img src="{{ asset('img/plus.png') }}" alt="Image Alternative text" height="360px" title="Our Coffee miss u">
                        </header>
                        <div class="product-inner">
                            <h5 class="product-title">Ajouter Un Bon Plan</h5>

                        </div>
                    </div>
                </a>
            </div>	<a href="#" class="btn btn-white btn-lg btn-ghost">Find More</a>
        </div>
    </div>


    <!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->




{%  endblock %}