<html>


<body>
<h4>TN Planners</h4>
<br>
<br>
<br>
<h1>VOUCHER Client</h1>


<br>
<br>
<br>
<br>
<br>


<h4><p>Monierus/Madame<b> {{ mes.idClient }}</b>, votre demande de réservation
        a été validée auprès de le proprietère de l'hôtel. </p></h4>

<br>
<br>

<h3>Hébergement_titre :<h4> {{ hebergement.titre }}</h4></h3>
<table border="1" width="100%">
    <tr>
        <th>Client</th>
        <th>Hebergement</th>
        <th>Date Debut</th>
        <th>Date Fin</th>
        <th>Nombre de personnes</th>
        <th>Prix/Nuit</th>
        <th>Durée</th>
        <th>Total</th>

    </tr>
    <tr>
        <td>{{ mes.idClient }}</td>
        <td>{{ hebergement.titre }}</td>
        <td>{{ mes.datedebut|date('d-m-Y') }}</td>
        <td>{{ mes.datefin|date('d-m-Y') }}</td>
        <td>{{ mes.nbrperson }} personnes</td>
        <td>{{ hebergement.prix }} <strong>TND</strong></td>
        <td>{{ mes.datefin|date("d")- mes.datedebut|date("d") }} jours</td>
        <td>{{ hebergement.prix * mes.nbrPerson * (mes.datefin|date("d")- mes.datedebut|date("d")) }}<strong>TND</strong></td>

    </tr>
</table>
<br>
<br>
<h4>Formule magique :</h4>
<p>{{ hebergement.prix * mes.nbrPerson * (mes.datefin|date("d")- mes.datedebut|date("d")) }} <strong>TND</strong> = {{ hebergement.prix }} <strong>TND</strong> x {{ mes.nbrPerson }} Personne * {{ mes.datefin|date("d")- mes.datedebut|date("d") }} Jours </p>

<br>
<br>

<h3>Description du lieu</h3>
<h5>{{ hebergement.description }}</h5>


<br>
<br>

<h3>Adresse :</h3>
<h5>{{ hebergement.lieu }}</h5>


<br>
<br>



<h3>Site web :</h3>
<h5><a href="{{ hebergement.Siteweb }}">{{ hebergement.Siteweb }}</a></h5>




</body>
</html>
