{% extends ('baseuser.html.twig') %}

{% block body %}
<br>
<br>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="box-body no-padding">

                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <thead>

                            <th>Client</th>
                            <th>Hebergement</th>
                            <th>Date Debut</th>
                            <th>Date Fin</th>
                            <th>Action</th>
                            <th>Nombre de personnes</th>

                        </thead>
                        <tbody>
                        {% for messagerie in messageries if messagerie.etat==1  and app.user.id==messagerie.idUser%}
                        <tr>
                            <td class="mailbox-name">{{ messagerie.idClient }}</a></td>
                            <td class="mailbox-subject"><b>Hebergement</b><a href="{{ path('hebergement_show',{'id':messagerie.idheb}) }}"> {{ messagerie.idheb }}</a>.</td>
                            <td class="mailbox-attachment">{{ messagerie.datedebut|date('d-m-Y') }}</td>
                            <td class="mailbox-attachment">{{ messagerie.datefin|date('d-m-Y') }}</td>
                            <td class="mailbox-attachment">{{ messagerie.nbrperson }}</td>
                            <td class="mailbox-date" width="20px"><a class="btn btn-success" href="{{ path('messagerie_edit', { 'id': messagerie.id }) }}">Confirmer la reservation</a>

                            <td class="mailbox-date" width="20px"><a class="btn btn-danger" href="{{ path('messagerie_delete', { 'id': messagerie.id }) }}">Annuler la reservation</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for messagerie in messageries if messagerie.etat==2  and app.user==messagerie.idClient%}
                            <tr>
                                <td class="mailbox-name">{{ messagerie.idClient }}</a></td>
                                <td class="mailbox-subject"><b>Hebergement</b><a href="{{ path('hebergement_show',{'id':messagerie.idheb}) }}"> {{ messagerie.idheb }}</a>.</td>
                                <td class="mailbox-attachment">{{ messagerie.datedebut|date('d-m-Y') }}</td>
                                <td class="mailbox-attachment">{{ messagerie.datefin|date('d-m-Y') }}</td>
                                <td class="mailbox-date" width="20px"><a  disabled="disabled" class="btn btn-success" href="{{ path('messagerie_edit', { 'id': messagerie.id }) }}">Reservation Confirmée</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table><!-- /.table -->
                </div><!-- /.mail-box-messages -->
            </div><!-- /.box-body -->

        </div><!-- /. box -->
    </div><!-- /.col -->
     {% endblock %}
