{% extends 'baseuser.html.twig' %}

{% block body %}



    <head> <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>


    </head>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <style>

    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-9" style="width: 800px " >
                <article class="post " >
                    <div class="post-inner" style="width: 200px ;height: 500px">
                        <h4 class="post-title"  >
                            <img src="{{ asset('uploads/ImagesPlans/' ~ plan.image) }}" style="width: 350px ;height: 350px ; margin-left: 200px" ></h4>
                       <h3 style="color: #0f6774 ; margin-left: 350px "> {{ plan.libelle }}</h3>
                        <p class="post-desciption" style="color: black ;width: 600px ;height: 350px ;margin-left: 80px">{{ plan.description }}</p>
                    </div>

                </article>
                <!-- BLOG POST -->
                <article class="post">
                    <header class="post-header">
                        <blockquote >
                            {{ msg }}
                        </blockquote>

                    </header>

                </article>
                <!-- BLOG POST -->
                <!-- BLOG POST -->
                <!-- BLOG POST -->
                <!-- BLOG POST -->
                <!-- BLOG POST -->

                <br><br><br>
                {#{{ socialButtons() }}#}
                <div class="gap"></div>
            </div>
            <div class="col-md-3" >
                <aside class="sidebar-right hidden-phone">
                    <div class="sidebar-box" style="height: 400px">
                        <h3>Informations Utils</h3>
                        <ul class="icon-list blog-category-list" style="padding-top: 30px;padding-bottom: 30px">
                            <li><i class="glyphicon glyphicon-home" style="padding-top: 10px;padding-bottom: 10px"></i> Adresse : {{ plan.adresse }}
                            </li>
                            <li><i class="glyphicon glyphicon-map-marker" style="padding-top: 10px;padding-bottom: 10px"></i> Ville : {{ plan.ville }}
                            </li>
                            <li><a href="#"><i class="glyphicon glyphicon-euro"></i> Prix : {{ plan.prix }}</a>
                                {{ form_start(form) }}
                                <div class="controls">
                                    <h5>Donnez une note</h5>
                                    {{ form_widget(form.rating) }}   </div>
                                {{ form_end(form) }}
                            </li>
                            <li><a href="#"><i class="glyphicon glyphicon-envelope" style="padding-top: 10px;padding-bottom: 10px"></i> €mail : {{ plan.email }}</a>
                            </li>

                        </ul>
                    </div>
                    {{ socialButtons( {'googleplus':false,
                        'linkedin':false,'twitter':false,'pinterest':false,
                        'facebook': {'locale':'fr_FR', 'url':''~ plan.avis ,
                            'send':true}} ) }}

                </aside>


            </div>
        </div>

    </div>


    <!-- //////////////////////////////////
    //////////////END PAGE CONTENT/////////
    ////////////////////////////////////-->



    <!-- //////////////////////////////////
    //////////////MAIN FOOTER//////////////
    ////////////////////////////////////-->

{% endblock %}
