{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plans list</h1>

    <table>
        <thead>
            <tr>
                <th>Idp</th>
                <th>Libelle</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Ville</th>
                <th>Image</th>
                <th>Avis</th>
                <th>Email</th>
                <th>Prix</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Etat</th>
                <th>Etatnotif</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td><a href="{{ path('plan_show', { 'idP': plan.idP }) }}">{{ plan.idP }}</a></td>
                <td>{{ plan.libelle }}</td>
                <td>{{ plan.adresse }}</td>
                <td>{{ plan.description }}</td>
                <td>{{ plan.ville }}</td>
                <td>{{ plan.image }}</td>
                <td>{{ plan.avis }}</td>
                <td>{{ plan.email }}</td>
                <td>{{ plan.prix }}</td>
                <td>{{ plan.longitude }}</td>
                <td>{{ plan.latitude }}</td>
                <td>{{ plan.etat }}</td>
                <td>{{ plan.etatnotif }}</td>
                <td>{{ plan.note }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plan_show', { 'idP': plan.idP }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plan_edit', { 'idP': plan.idP }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plan_new') }}">Create a new plan</a>
        </li>
    </ul>
{% endblock %}
