{% extends ('baseuser.html.twig') %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css\css\chaima.css') }}" />


 {% endblock %}
{% block body %}
    <h1>Plan</h1>



    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab" border="2">

                <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>libelle</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Prix</th>
                    <th>description</th>
                    <th>image</th>
                    <th>longitude</th>
                    <th>latitude</th>
                    <th> #</th>

                </tr>
                </thead>
                <tr>
                    <td>{{ plan.idP }}</td>{
                    <td><img src="{{ asset('uploads/ImagesPlans/' ~ plan.image) }}" ></td>
                    <td>{{ plan.libelle }}</td>
                    <td>{{ plan.adresse }}</td>
                    <td>{{ plan.ville }}</td>
                    <td>{{ plan.prix }}</td>

                    <td>{{ plan.description }}</td>
                    <td>{{ plan.image }}</td>
                    <td>{{ plan.longitude }}</td>
                    <td>{{ plan.latitude }}</td>

                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="#">
                            <span class="glyphicon glyphicon-edit"></span> Edit</a>
                        {{ form_start(delete_form) }}
                        <div class="btn"> <i class="fa fa-trash-o"></i> <input type="submit" value="Delete"></div>
                        {{ form_end(delete_form) }}
                    </td>
                </tr>

            </table>
        </div>
    </div>
{% endblock %}
