{% extends 'baseuser.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('bundles/evennement/css/css_event.css') }}">

    <div class="container margin_container">
        <style>
            #map {
                height: 300px;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>

                <script>
                    function initMap() {
                        var geocoder = new google.maps.Geocoder();
                        var adr = '{{ evennement.adresse }} {{ evennement.ville }}';

                        var myLatLng = {lat: 34.768876, lng: 10.753031};
                        var mapOptions = {
                            zoom      : 14,
                            center    : myLatLng,
                            mapTypeId : google.maps.MapTypeId.ROADMAP
                        }

                        // map est le conteneur HTML de la carte Google Map
                        var map = new google.maps.Map(document.getElementById('map'), mapOptions);


                        geocoder.geocode( { 'address': adr}, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                map.setCenter(results[0].geometry.location);
                                var LatLng = results[0].geometry.location;
                                var marker = new google.maps.Marker({
                                    position: LatLng,
                                    map: map,
                                    title: '{{ evennement.titre }}'
                                });

                            } else {
                                alert('Adresse introuvable: ' + status);
                            }
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUEfLiucpDK8tifF7sB0KcZZCqWQeNmKU&callback=initMap">
                </script>



            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('imageEvent/'~evennement.image) }}" class="img-thumbnail">
            </div>
                <div class="col-md-8">


                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-pencil"></i>Description</a>
                        </li>
                        <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-map-marker"></i>Adresse Et Ville</a>
                        </li>

                        <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-money"></i>Payement</a>
                        </li>
                        <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-star-half-o"></i> Etat </a>
                        </li>
                        <li><a href="#tab-5" data-toggle="tab"><i class="fa fa-comments"></i> Nombre participant </a></li>





                    </ul>
                </div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-1">
                            <p> {{ evennement.description }}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <table class="table table-striped mb0">
                                <tbody>
                                <tr>
                                    <td>Adresse</td>
                                    <td>{{ evennement.adresse }} </td>
                                </tr>
                                <tr>
                                    <td>Ville</td>
                                    <td>{{ evennement.ville}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab-3">

                                <li><span class="product-price">{{ evennement.prix |number_format(3,'.','') }} TND</span>

                        </div>
                        <div class="tab-pane fade" id="tab-4">

                            <li><span class="product-price">{% if evennement.etat==1 %}  cet Evennement est validé {% else %} cet Evennement n'est pas valdé {% endif %}</span>

                        </div>
                        <div class="tab-pane fade" id="tab-5">

                            <li><span class="product-price"> {{ participant }} Participants</span>
                        </div>
                        <div class="tab-content">


                    </div>
                </div>

                <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list_btn_action pull-right">
                                <li>

                                    <a href="{{ path('participant_new', {'id': evennement.id}) }}" class="btn btn-info">Je Participe</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        {{ socialButtons( {'facebook':false} ) }}
                    </div>


            </div>


            {% if evennement.ville is sameas("Tunis") %}
            {{ pianosolo_get_forecast('Tunis', 5) }}
            {% elseif evennement.ville is sameas("Sfax") %}
                {{ pianosolo_get_forecast('Sfax', 5) }}
            {% elseif evennement.ville is sameas("Beja") %}
                {{ pianosolo_get_forecast('Beja', 5) }}
            {% elseif evennement.ville is sameas("Mahdia") %}
                {{ pianosolo_get_forecast('Mahdia', 5) }}
            {% elseif evennement.ville is sameas("Sousse") %}
                {{ pianosolo_get_forecast('Sousse', 5) }}
            {% elseif evennement.ville is sameas("Jandouba") %}
                {{ pianosolo_get_forecast('Jandouba', 5) }}
            {% elseif evennement.ville is sameas("Tozeur") %}
                {{ pianosolo_get_forecast('Tozeur', 5) }}
            {% elseif evennement.ville is sameas("Kef") %}
                {{ pianosolo_get_forecast('Kef', 5) }}
            {% elseif evennement.ville is sameas("Hammamet") %}
                {{ pianosolo_get_forecast('Hammamet', 5) }}

            {% endif %}

        </div>

    </div>




{% endblock %}
