{% extends 'baseuser.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('bundles/evennement/css/css_event.css') }}">

    <div class="container margin_container">
        <style>
            #map {
                height: 300px;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>

                <script>
                    function initMap() {
                        var geocoder = new google.maps.Geocoder();
                        var adr = '{{ evennement.adresse }} {{ evennement.ville }}';

                        var myLatLng = {lat: 34.768876, lng: 10.753031};
                        var mapOptions = {
                            zoom      : 14,
                            center    : myLatLng,
                            mapTypeId : google.maps.MapTypeId.ROADMAP
                        }

                        // map est le conteneur HTML de la carte Google Map
                        var map = new google.maps.Map(document.getElementById('map'), mapOptions);


                        geocoder.geocode( { 'address': adr}, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                map.setCenter(results[0].geometry.location);
                                var LatLng = results[0].geometry.location;
                                var marker = new google.maps.Marker({
                                    position: LatLng,
                                    map: map,
                                    title: '{{ evennement.titre }}'
                                });

                            } else {
                                alert('Adresse introuvable: ' + status);
                            }
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUEfLiucpDK8tifF7sB0KcZZCqWQeNmKU&callback=initMap">
                </script>



            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('imageEvent/'~evennement.image) }}" class="img-thumbnail">
            </div>
                <div class="col-md-8">


                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-pencil"></i>Description</a>
                        </li>
                        <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-map-marker"></i>Adresse Et Ville</a>
                        </li>

                        <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-money"></i>Payement</a>
                        </li>
                        <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-star-half-o"></i> Etat </a>
                        </li>
                        <li><a href="#tab-5" data-toggle="tab"><i class="fa fa-comments"></i> Nombre participant </a></li>





                    </ul>
                </div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-1">
                            <p> {{ evennement.description }}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <table class="table table-striped mb0">
                                <tbody>
                                <tr>
                                    <td>Adresse</td>
                                    <td>{{ evennement.adresse }} </td>
                                </tr>
                                <tr>
                                    <td>Ville</td>
                                    <td>{{ evennement.ville}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab-3">

                                <li><span class="product-price">{{ evennement.prix |number_format(3,'.','') }} TND</span>

                        </div>
                        <div class="tab-pane fade" id="tab-4">

                            <li><span class="product-price">{% if evennement.etat==1 %}  cet Evennement est validé {% else %} cet Evennement n'est pas valdé {% endif %}</span>

                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-5">
                                <p> {{ participant }}</p>
                            </div>
                        <div class="tab-pane fade" id="tab-5">
                            <ul class="comments-list">
                                <li>
                                    <!-- REVIEW -->
                                    <article class="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="Gamer Chick" />
                                        </div>
                                        <div class="comment-inner">
                                            <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star-o"></i>
                                                </li>
                                            </ul><span class="comment-author-name">Blake Abraham</span>
                                            <p class="comment-content">Feugiat class condimentum et enim metus lobortis aptent dictumst laoreet et felis sollicitudin dignissim viverra cum lobortis nulla nascetur cras</p>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <!-- REVIEW -->
                                    <article class="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="Ana 29" />
                                        </div>
                                        <div class="comment-inner">
                                            <ul class="icon-group icon-list-rating comment-review-rate" title="5/5 rating">
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                            </ul><span class="comment-author-name">John Doe</span>
                                            <p class="comment-content">Lorem ligula maecenas tristique porta tristique cum lacus porta laoreet semper netus faucibus aenean bibendum congue</p>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <!-- REVIEW -->
                                    <article class="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="Afro" />
                                        </div>
                                        <div class="comment-inner">
                                            <ul class="icon-group icon-list-rating comment-review-rate" title="5/5 rating">
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                            </ul><span class="comment-author-name">Oliver Ross</span>
                                            <p class="comment-content">Enim nulla consequat non donec arcu himenaeos eget lectus vehicula vel inceptos ultrices</p>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <!-- REVIEW -->
                                    <article class="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="Bubbles" />
                                        </div>
                                        <div class="comment-inner">
                                            <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star-o"></i>
                                                </li>
                                            </ul><span class="comment-author-name">Elizabeth Wallace</span>
                                            <p class="comment-content">Mattis vehicula nisl egestas nec ultrices varius semper laoreet molestie purus euismod fames odio volutpat eleifend turpis nec cras quam litora</p>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <!-- REVIEW -->
                                    <article class="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="Me with the Uke" />
                                        </div>
                                        <div class="comment-inner">
                                            <ul class="icon-group icon-list-rating comment-review-rate" title="5/5 rating">
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                            </ul><span class="comment-author-name">Cheryl Gustin</span>
                                            <p class="comment-content">Suscipit curabitur hac hac congue netus integer ridiculus volutpat varius</p>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <!-- REVIEW -->
                                    <article class="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="AMaze" />
                                        </div>
                                        <div class="comment-inner">
                                            <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star-o"></i>
                                                </li>
                                            </ul><span class="comment-author-name">John Doe</span>
                                            <p class="comment-content">Mauris venenatis sed dui primis porttitor sit turpis litora eu nisl volutpat nam per primis</p>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <!-- REVIEW -->
                                    <article class="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="Chiara" />
                                        </div>
                                        <div class="comment-inner">
                                            <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star-o"></i>
                                                </li>
                                            </ul><span class="comment-author-name">Blake Hardacre</span>
                                            <p class="comment-content">Fusce lorem eu tortor proin egestas neque senectus netus ac augue senectus pulvinar rutrum habitasse nostra montes aenean mauris lacinia sociosqu posuere curabitur vestibulum venenatis euismod habitasse litora rhoncus purus</p>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <!-- REVIEW -->
                                    <article class="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="Andrea" />
                                        </div>
                                        <div class="comment-inner">
                                            <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star"></i>
                                                </li>
                                                <li><i class="fa fa-star-o"></i>
                                                </li>
                                            </ul><span class="comment-author-name">Brandon Burgess</span>
                                            <p class="comment-content">Ultrices elit quisque porta tortor sollicitudin bibendum proin facilisi duis magna</p>
                                        </div>
                                    </article>
                                </li>
                            </ul><a class="popup-text btn btn-primary" href="#review-dialog" data-effect="mfp-zoom-out"><i class="fa fa-pencil"></i> Add a review</a>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list_btn_action pull-right">
                                <li>
                                    <a href="{{ path('participant_new', {'id': evennement.id}) }}" class="btn btn-info">Je Participe</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        {{ socialButtons( {'facebook':false} ) }}
                    </div>


            </div>


            {% if evennement.ville is sameas("Tunis") %}
            {{ pianosolo_get_forecast('Tunis', 5) }}
            {% elseif evennement.ville is sameas("Sfax") %}
                {{ pianosolo_get_forecast('Sfax', 5) }}
            {% elseif evennement.ville is sameas("Beja") %}
                {{ pianosolo_get_forecast('Beja', 5) }}
            {% endif %}

        </div>

    </div>




{% endblock %}
