{% extends 'baseuser.html.twig' %}

{% block body %}
    <script src="{{ asset('bundles/ckeditor/ckeditor.js') }}"></script>
    <div class="gap gap-small"></div>


    <div class="row" >

        <div class="col-sm-offset-3 col-sm-6">
            <h>Modification de l'article!</h>
            <div class="gap gap-small"></div>
            {{ form_start(edit_form) }}



            <div class="form-group">
                <label for="validate-text">Titre</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    {{form_widget(edit_form.titre, {'attr': {'class': "form-control",'placeholder': "Titre",'required':"true"}})}}
                </div>
            </div>

            <div class="form-group">
                <label for="validate-optional">Description</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    {{form_widget(edit_form.contenu, {'attr': {'class': "ckeditor",'placeholder': "Description",'required':"true"}})}}
                </div>
            </div>

            <div class="form-group">
                <label for="validate-phone">Image</label>
                <div class="input-group" data-validate="phone">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    {{form_widget(edit_form.image, {'attr': {'class': "form-control",'placeholder': "Image",'required':"true"}})}}
                </div>

                <div class="gap gap-small"></div>

            </div>

            <ul class="list-inline">
                <div class="btn"> <i class="fa fa-check"></i>  <input type="submit" value="Valider Modification" /></div>
                {{ form_end(edit_form) }}

                <li><a href="{{ path('article_indexPerso') }}" class="btn btn-primary">
                        <i class="fa fa-toggle-left (alias)"></i> Retour</a>
                </li>
                <li><a href="{{ path('article_delete', {'id': article.id}) }}" class="btn">
                        <i class="fa fa-trash-o"></i> Supprimer</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
    <div class="gap gap-small"></div>
{% endblock %}
