{% extends 'baseadmin.html.twig' %}

{% block body %}
    <style>
        table.paleBlueRows {
            font-family: "Garamond", Times, serif;
            border: 1px solid #FFFFFF;
            width: 1000px;
            height: 200px;
            text-align: center;
            font-size: 20px;
            border-collapse: collapse;
        }

        table.paleBlueRows td, table.paleBlueRows th {
            border: 0px solid #FFFFFF;
            padding: 5px 13px;
        }

        table.paleBlueRows tbody td {
            font-size: 16px;
        }

        table.paleBlueRows tr:nth-child(even) {
            background: #D0E4F5;
        }

        table.paleBlueRows thead {
            background: #0B6FA4;
            border-bottom: 5px solid #FFFFFF;
        }

        table.paleBlueRows thead th {
            font-size: 18px;
            font-weight: bold;
            color: #FFFFFF;
            text-align: center;
            border-left: 2px solid #FFFFFF;
        }

        table.paleBlueRows thead th:first-child {
            border-left: none;
        }

        table.paleBlueRows tfoot {
            font-size: 14px;
            font-weight: bold;
            color: #333333;
            background: #D0E4F5;
            border-top: 3px solid #444444;
        }

        table.paleBlueRows tfoot td {
            font-size: 14px;
        }

        #desc {
            padding: 10px 65px;

        }

    </style>
    <link rel="stylesheet" href="{{ asset('bundles/evennement/css/css_event.css') }}">

    <h1 style="padding-left:500px ; color: #0a7369">La Liste des Catégories</h1><br>


        <table class="paleBlueRows">
            <thead>
            <tr>
                <th>Libelle</th>
                <th class="td_action">Actions</th>
            </tr>
            </thead>
            {% for categorieEvent in categorieEvents %}
                <tr>
                    <td>{{ categorieEvent.libelle }}</td>
                    <td>
                        <ul class="list_btn_action">
                            <li>
                                <a href="{{ path('categorieevent_show', { 'id': categorieEvent.id }) }}" class="btn btn-info btn-xs">Détail</a>
                            </li>
                            <li>
                                <a href="{{ path('categorieevent_edit', { 'id': categorieEvent.id }) }}" class="btn btn-warning btn-xs">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <ul class="list_btn_action">
            <li>
                <a href="{{ path('categorieevent_new') }}" class="btn btn-warning btn-xs">Créer Categorie </a>
            </li>
        </ul>

{% endblock %}
